name: Java CI/CD with Docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and run tests
        run: mvn clean verify

      - name: Build Docker image
        run: docker build -t calculator-app .

      # Optional: Login to Docker Hub
      # - name: Docker Hub login
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Tag Docker image
        run: docker tag calculator-app amirdirin/demo1_2026:latest

      # Optional: Push Docker image
      # - name: Push Docker image
      #   run: docker push amirdirin/demo1_2026:latest
